<app-nav-bar></app-nav-bar>

<main>
  <ng-container *ngIf="(currentResult$ | async) as result; else emptyResult">
    <div class="books-card-container" *ngFor="let res of result.data; trackBy:trackByBookId">
      <app-book-card [result]="res"></app-book-card>
    </div>
  </ng-container>

  <ng-template #emptyResult>
    <div class="empty-result-placeholder message-box">
      <h2>No results to display</h2>
      <p>Enter any book subject, hit the search button and the result will be displayed</p>
    </div>
  </ng-template>
</main>

<app-notification *ngIf="isNotificationVisible()" [status]="queryStatus"></app-notification>